.shining-card {
    position: relative;
    border: 1px solid gold;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .shining-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, gold, transparent, transparent, transparent);
    opacity: 0.5;
    z-index: -1;
    animation: shining-animation 2s infinite linear;
  }
  
  @keyframes shining-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .custom-card {
    border: 2px solid gold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
  }
  
  .custom-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .icon-container svg {
    color: black;
  }
  
  .custom-card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .custom-card .card-subtitle {
    font-size: 1rem;
  }
  
  .custom-card .card-link {
    color: blue;
  }
  
  .custom-card .card-link:hover {
    text-decoration: underline;
  }

.link,
.link:visited {
  background-color: white;
  color: black;
  border: 2px solid red;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display:inline;
}

.link:hover,
.link:active {
  background-color: red;
  color: white;
}




